@import "materialize";
@import "style";



$azul-escuro: #3498db;
$cinza-medio: #999;



.cadastro-produtos {
    .guia-procedimento {
        width: 100%;
        display: flex;
        justify-content: space-around;
        justify-content: space-evenly;
        cursor: default;
        position: relative;

        > .etapa {
            font-size: 4rem;
            font-weight: bold;
            flex: 0 0 80px;
            line-height: 80px;
            text-align: center;
            border-radius: 50%;
            background-color: #fff;
            color: $cinza-medio;
            border: 4px solid $cinza-medio;
            z-index: 1;
            transition: all .2s ease;
            user-select: none;
            box-sizing: content-box;

            &.ativo {
                background-color: $azul-escuro;
                border-color: $azul-escuro;
                color: #fff;
            }
        }

        &:after {
            content: "";
            width: 60%;
            position: absolute;
            border-top: 4px solid $cinza-medio;
            top: 50%;
            margin-top: -2px;
        }
        
        @media (max-width: 500px){
            > .etapa{
                font-size: 2.5rem;
                flex-basis: 50px;
                line-height: 50px;
                border-width: 3px;
            }
        }
    }


    .etapas-cadastro {
        width: 100%;
        margin-top: 80px;

        hgroup {
            padding-bottom: 2rem;
        }

        h2 {
            font-size: 2rem;
            line-height: 3rem;
            text-transform: uppercase;
            color: #333;

        }

        h3 {
            margin-top: 0;
            font-size: 1.5rem;
            text-transform: uppercase;
            color: #999;
        }

        label {
            font-size: 1.5rem;
            color: #555 !important;
        }

        .select-wrapper {
            margin: 20px 0 35px;
        }

        input {
            font-size: 2rem;
        }

        .etapa {
            margin: 0 auto;
            width: 450px;
            max-width: 100%;
            display: none;

            &.ativo {
                display: block;
                z-index: 1;
            }

            &:first-child .navegacao-etapas .anterior {
                visibility: hidden;
            }
        }
        
        @media (max-width: 500px){
            margin-top: 35px;
        }
    }

    .navegacao-etapas {
        margin-top: 80px;
        display: flex;
        justify-content: center;
        width: 100%;

        .btn {
            margin: 0 20px;
        }
            
        @media (max-width: 500px){
            justify-content: space-between;
            
            .btn{
                margin: 0;
                padding: .5em;
            }
        }
    }

    .modal {
        .modal-content {
            height: 100%;
        }
        .modal-close {
            display: block;
            margin: 0 auto;
            width: 150px;
            text-align: center;
        }
    }

    .lista-tamanhos-produto {
        margin: 30px 0;
    }

    .mini-form-tamanho {
        input[type=text] {
            text-align: center;
            text-transform: uppercase;
        }
        .btn-floating {
            margin: 0 auto;
            display: block;
            width: 40px;
        }
    }

    .lista-tamanhos-produto,
    .lista-cores {
        display: flex;
        flex-wrap: wrap;

        li,
        fieldset {
            min-width: 33%;
            padding: 6px;

            label {
                font-size: 1.5rem;
            }
            
            @media (max-width: 500px){
                min-width: 50%;
            }
        }
    }
    
    .aviso{
        margin-top: 50px;
        
        b{
            color: #f36;
        }
    }

    .cores-tamanhos-final {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        > li {
            @extend .card;
            padding: 20px;
            margin: 10px;
            flex: 0 1 200px;

            .bloco-cor {
                cursor: default;
                user-select: none;
                
                .cor {
                    width: 30px;
                    height: 30px;
                    float: left;
                    margin-right: 10px;
                    margin-bottom: 20px;
                }
                
                .nome-cor{
                    line-height: 30px;
                }
            }

            h3 {
                clear: both;
            }

            .tam-qnt {
                display: flex;
                flex-wrap: wrap;

                > li {
                    padding: 5px 10px;
                    cursor: default;
                }
            }
            
            .excluir-cor{
                display: block;
                margin: 20px auto;
            }
        }
    }

    span.cor-final {
        display: flex;
        justify-content: center;
        width: 100%;
        font-size: 2rem;

        .fa {
            margin: 0 1em;
        }
    }

    .criar-cor-estampa {
        @extend .navegacao-etapas;
        margin-top: 30px;
    }

    #criar-estampa,
    #criar-cor {
        .file-field {
            margin: 50px 0;

            .btn {
                height: initial;
                line-height: initial;
                padding: .5em 1em;
            }
        }
    }
    
    .collapsible.grupos{
        .collapsible-header{
            color: #f36;
            font-weight: bold;
        }
        
        table{
            margin: 0;
            
            td{
                width: 50%;
            }
            
            thead td{
                font-size: 1.5rem;
                font-weight: bold;
                padding-bottom: 10px;
                text-align: center;
            }
            
            label{
                margin: 0;
                font-size: 1.5rem;
                font-weight: initial;
            }
            
            input[type=text]{
                margin: 10px 0;
            }
        }
    }

    .caret {
        display: none
    }
}
